path {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

.flex_box {
    display: flex;
}

/* 系列のスタイル */
#legend {
    background-color: #ffffff;
    border: solid 1px #999;
    border-radius: 3px;
    font-size: 14px;
    margin-top: -140px;
    margin-left: 500px;
    padding: 1px;
    position: absolute;
    left: 0px;
    width: 130px;
}

#legend div {
   padding: 2px
}

#legend div div {
    margin-left: 5px;
    text-align: center; 
}

#legend div .legend_color {
    height: 15px;
    width: 15px;
    padding: 2px;
}

#legend div .legend_text {
    height: 15px;
    padding: 2px;
}

/*マウスオーバー時の数値*/
#demographics_area {
    width: 640px;
}

#demographics {
    opacity: 1;
    width: 620px;
    padding: 1px;
    border: 1px solid #6f6f6f;
    border-radius: 3px;
    margin-top: -20px;
    margin-right: 5px;
    font-size: 15px;
    position: absolute;
    text-align: center;
    right: 0px;
    background-color: white;
}

#state_name {
    background-color: #6f6f6f;
    color: white;
    margin: 2px;
    padding: 2px;
    height: 24px;
    text-align: center;
}

#election_num {
    background-color: #6f6f6f;
    color: white;
    font-weight: bold;
    height: 24px;
    margin: 2px;
    padding: 2px;
    text-align: center;
}