path {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

.flex_box {
    display: flex;
}

/* 系列のスタイル */
#legend_rev_demo {
    background-color: #ffffff;
    border: solid 1px #999;
    border-radius: 3px;
    font-size: 12px;
    margin-top: -160px;
    margin-left: 490px;
    padding: 1px;
    position: absolute;
    left: 0px;
    width: 140px;
}

#legend_rev_demo div {
   padding: 1px
}

#legend_rev_demo div div {
    margin-left: 5px;
    text-align: center; 
}

#legend_rev_demo div .legend_color {
    height: 14px;
    width: 14px;
    padding: 2px;
}

#legend_rev_demo div .legend_text {
    height: 14px;
    padding: 2px;
}

/*マウスオーバー時の数値*/
#demographics_rev_area {
    width: 640px;
}

#demographics_rev_demo {
    opacity: 1;
    width: 620px;
    padding: 1px;
    border: 1px solid #6f6f6f;
    border-radius: 3px;
    margin-top: -70px;
    margin-right: 5px;
    font-size: 15px;
    position: absolute;
    text-align: center;
    right: 0px;
    background-color: white;
}

#state_name_rev_demo {
    background-color: #6f6f6f;
    color: white;
    margin: 2px;
    padding: 2px;
    height: 24px;
    text-align: center;
}

#election_num_rev_demo {
    background-color: #6f6f6f;
    color: white;
    font-weight: bold;
    height: 24px;
    margin: 2px;
    padding: 2px;
    text-align: center;
}

.histories {
    border-radius: 5px;
    color: white;
    height: 28px;
    margin: 5px;
    text-align: center;
    width: 33%;
}